*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body, html {
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "PT Sans Caption", sans-serif;
  color: white; }

h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center; }

h4 {
  font-size: 3.3rem; }

.btn {
  background-color: #f0355e;
  padding: .5rem;
  border: none; }

ion-icon {
  font-size: 32px; }

.social-icon {
  padding: 2px;
  padding-bottom: 0;
  margin: 0 .6rem; }
  .social-icon--linked {
    background-color: #0058a7; }
  .social-icon--git {
    background-color: #080808; }

.nav {
  display: flex; }
  .nav__left {
    display: flex;
    margin: 1.2rem; }
  .nav__logo--text {
    font-size: 3.5rem; }
  .nav__info {
    font-size: 1.8rem;
    margin-left: 1.3rem;
    margin-top: .8rem; }
  .nav__logo {
    align-self: flex-start;
    border-radius: 50%;
    width: 7.7rem; }
  .nav__right {
    margin-left: auto;
    margin-right: 1.7rem;
    display: flex; }
  .nav__item {
    list-style: none;
    margin: 1rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: white;
    font-size: 3.2rem;
    text-transform: lowercase; }
  .nav__link:hover {
    color: #f0355e; }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/nikita-vantorin-417627-unsplash.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .hero__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .hero__header {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 300;
    width: 73rem; }
  .hero__subheader {
    font-size: 4rem; }
  .hero__btn {
    margin-top: 3rem;
    color: white;
    font-size: 3.2rem;
    font-family: "PT Sans Caption", sans-serif;
    text-transform: uppercase; }
  .hero__cta {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%); }
    .hero__cta__arrow {
      font-size: 6.6rem; }

.about {
  height: 50vh;
  color: #1b1b1b;
  font-size: 1.6rem; }
  .about > * {
    margin: 6.6rem; }
  .about__flex {
    display: flex; }
  .about__header {
    margin-bottom: 6.6rem; }

.summary {
  flex: 2; }

.skills {
  flex: 1; }
  .skills__list {
    list-style: none; }

.projects {
  height: 100vh;
  background-color: #f2f0ff;
  color: #1b1b1b;
  font-size: 1.6rem;
  padding: 6.6rem 0; }
  .projects__header {
    margin-bottom: 6.6rem; }
  .projects__grid {
    width: 75%;
    margin: 0 auto; }
    .projects__grid__preview {
      background-color: #797575;
      position: relative;
      float: left;
      height: 30rem;
      width: 33.3333%;
      margin: 0;
      display: block; }
      .projects__grid__preview img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .projects__grid .my-sizer-element {
      width: 33.3333%; }
  .projects__nav {
    list-style: none;
    text-transform: uppercase;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-evenly; }
    .projects__nav__item {
      cursor: pointer; }
    .projects__nav .active {
      font-weight: bold;
      font-size: 4rem;
      color: #ff0e84;
      transition: all .3s ease; }

.contact {
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact__header {
    color: #1b1b1b;
    margin: 6.6rem 0; }
  .contact__form {
    width: 26%; }
  .contact__form-control:not(:first-of-type) {
    margin: 2rem 0; }
  .contact__btn--submit {
    float: right;
    border: 2px solid #1b1b1b;
    background: white;
    padding: .9rem 1.2rem;
    padding-top: 1.3rem;
    font-size: 1.6rem;
    text-transform: uppercase; }

input, textarea {
  border: none;
  background-color: #e1e5f5;
  width: 100%;
  padding: 1.2rem;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 1.7rem; }

input {
  height: 4.8rem; }

.footer {
  background-color: #060606d6;
  position: relative; }
  .footer__flex {
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer__social-media {
    list-style: none;
    display: flex;
    align-items: flex-start; }
  .footer__copy {
    text-transform: uppercase;
    margin-left: 1.3rem;
    font-size: 1.4rem; }
  .footer__back-to-top {
    position: absolute;
    left: 50%;
    background-color: #f0355e;
    padding: 1rem;
    font-size: 3rem;
    transform: translate(-50%, -50%); }
