*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body, html {
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "PT Sans Caption", sans-serif;
  color: white; }

h4 {
  font-size: 3.3rem; }

.btn {
  background-color: #f0355e;
  padding: .5rem;
  border: none; }

ion-icon {
  font-size: 32px; }

.social-icon {
  padding: .8rem;
  padding-bottom: .5rem;
  margin: 0 1.4rem; }
  .social-icon--linked {
    background-color: #0058a7; }
  .social-icon--git {
    background-color: #080808; }

.nav {
  display: flex; }
  .nav__left {
    display: flex;
    margin: 1.2rem; }
  .nav__logo--text {
    font-size: 3.5rem; }
  .nav__info {
    font-size: 1.8rem;
    margin-left: 1.3rem;
    margin-top: .8rem; }
  .nav__logo {
    align-self: flex-start;
    border-radius: 50%;
    width: 7.7rem; }
  .nav__right {
    margin-left: auto;
    margin-right: 1.7rem;
    display: flex; }
  .nav__item {
    list-style: none;
    margin: 1rem; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: white;
    font-size: 3.2rem;
    text-transform: lowercase; }
  .nav__link:hover {
    color: #f0355e; }

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/nikita-vantorin-417627-unsplash.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }
  .hero__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .hero__header {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 300;
    width: 73rem; }
  .hero__subheader {
    font-size: 4rem; }
  .hero__btn {
    margin-top: 3rem;
    color: white;
    font-size: 3.2rem;
    font-family: "PT Sans Caption", sans-serif;
    text-transform: uppercase; }
  .hero__cta {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%); }
    .hero__cta__arrow {
      font-size: 6.6rem; }

.about {
  height: 50vh;
  color: #1b1b1b;
  font-size: 1.6rem;
  display: flex; }
  .about > * {
    margin: 6.6rem; }

.summary {
  flex: 2; }

.skills {
  flex: 1; }
  .skills__list {
    list-style: none; }

.projects {
  height: 100vh;
  margin: 6.6rem;
  color: #1b1b1b;
  font-size: 1.6rem; }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    .projects__grid__preview {
      background-color: #797575;
      height: 19rem;
      margin: 1px; }

.footer {
  height: 30vh;
  background-color: #060606d6;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__social-media {
    list-style: none;
    display: flex;
    align-items: flex-start; }
  .footer__copy {
    text-transform: uppercase;
    margin-left: 1.3rem;
    font-size: 1.4rem; }
