.about {
    height: 81vh;
    max-width: 120rem;
    margin: 0 auto;
    color: $color-grey-dark-1;
    font-size: 1.6rem;
    
    & > * {
        margin: 6.6rem;
    }

    &__flex {
        display: flex;
    }

    &__header {
        margin-bottom: 11.6rem;
    }
}

.highlights {
    list-style: none;
    display: flex;
    justify-content: space-around;

    &__item {
        text-align: center;

        // .icon {
        //     // font-size: 7.8rem;
        // }

        h4 {
            font-weight: 100;
            font-size: 2.7rem;
            background-color: #1a1a1a;
            color: #9aefff;
            text-transform: uppercase;
            display: inline-block;
            padding: 0 1.4rem;
        }
    }
}

.summary {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__text {
        width: 66.6666%;
    }

    &__img {
        border-radius: 50%;
        display: block;
        margin: 2.2rem auto;
    }
}

.bio {
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content:  center;
    align-items: center;


    &__text--big {
        flex: 1;
        font-size: 6.1rem;
    }

    &__text--small {
        flex: 1;
    }
}

.skills {
    display: flex;
    justify-content: flex-end;

    &__list {
        list-style: none;
        margin: 33.3333;
    }
}