.about {
    height: 100vh;
    color: $color-grey-dark-1;
    font-size: 1.6rem;
    
    & > * {
        margin: 6.6rem;
    }

    &__flex {
        display: flex;
    }

    &__header {
        margin-bottom: 6.6rem;
    }
}

.summary {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__text {
        width: 66.6666%;
    }

    &__img {
        border-radius: 50%;
    }
}

.skills {
    display: flex;
    justify-content: flex-end;

    &__list {
        list-style: none;
        margin: 33.3333;
    }
}