.about {
    max-width: 120rem;
    width: 80%;
    min-height: 91vh;
    margin: 0 auto;
    color: $color-grey-dark-1;
    font-size: 1.6rem;
    padding: 11.6rem 0;
    padding-bottom: 5rem;
    
    & > * {
        margin: 6.6rem;
    }

    &__flex {
        display: flex;
    }

    &__header {
        // margin-bottom: 11.6rem;
        margin-top: 0;
    }
}

.highlights {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (max-width: 500px) {
        margin: 6.6rem 0;
    };

    &__item {
        text-align: center;
        margin: 1.5rem;

        // .icon {
        //     // font-size: 7.8rem;
        // }

        @media screen and (max-width: $bp-large) { 
            width: 44rem;
        };

        @media (max-width: 500px) { 
            width: 100%;
        };

        h4 {
            font-weight: 100;
            font-size: 2.7rem;
            background-color: $color-grey-dark-2;
            color: $color-tertiary;
            text-transform: uppercase;
            display: inline-block;
            padding: 2px 1.4rem;

            @media screen and (max-width: $bp-large) { 
                width: 100%
            };
        }
    }
}

.summary {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__text {
        width: 66.6666%;
    }

    &__img {
        border-radius: 50%;
        display: block;
        margin: 2.2rem auto;
        width: 14.3rem;
        @media screen and (max-width: $bp-large) {
            margin: 7.2rem auto;
            width: 50%;
            max-width: 170px;
        }
    }
}

.bio {
    width: 80%;
    margin: 15.3rem auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;

    @media screen and (max-width: $bp-large) { 
        flex-direction: column;
    };

    p {
        margin: 5px 0;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: #c87914;
        transition: all 2s;
    }

    a:hover,
    a:active {
        border-bottom: 1px solid #c87914;
    }

    &__text--big {
        font-size: 6.1rem;
        width: 50%;

        @media screen and (max-width: $bp-large) { 
            width: 100%;
        };

        @media screen and (max-width: 600px) { 
            font-size: 5.1rem;
        };
    }

    &__text--small {
        width: 50%;

        @media screen and (max-width: $bp-large) { 
            width: 100%;
        };
    }
}

.skills {
    display: flex;
    justify-content: flex-end;

    &__list {
        list-style: none;
        margin: 33.3333;
    }
}