
// COLOR
$color-primary: white;
$color-secondary: rgb(240, 53, 94);
$color-grey-light-1: rgb(121, 117, 117);
$color-grey-light-2: rgb(236, 223, 223);
$color-grey-dark-1: rgb(27, 27, 27);

$color-grey-dark-2: #060606d6;

// FONT
// $font-primary: 'Nunito', sans-serif;
$font-primary: 'PT Sans Caption', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, html {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $color-primary;
    // font-weight: 300;
    // line-height: 1.6;
}