.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;

    &__header {
        color: $color-grey-dark-1;
        margin: 6.6rem 0;
    }

    &__form {
        width: 48rem;
    }

    &__form-control:not(:first-of-type) {
        margin: 2rem 0;
    }

    &__btn--submit {
        float: right;
        border: 2px solid $color-grey-dark-1;
        background: $color-primary;
        padding: .9rem 1.2rem;
        padding-top: 1.3rem;
        font-size: 1.6rem;
        text-transform: uppercase;
    }
}

input, textarea {
    border: none;
    background-color: $color-grey-light-2;
    width: 100%;
    padding: 1.2rem;
    font-family: $font-primary;
    font-size: 1.7rem;
}

input {
    height: 4.8rem;
}