.nav {
    width: 100%;
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    
    &__left {
        display: flex;
        margin: 1.2rem;
    }

    &__logo--text {
        font-size: 3.5rem;
    }

    &__info {
        font-size: 1.8rem;
        margin-left: 1.3rem;
        margin-top: .8rem;
    }

    &__logo {
        align-self: flex-start;
        border-radius: 50%;
        width: 7.7rem
    }

    &__right {
        margin-left: auto;
        margin-right: 1.7rem;
        display: flex;

        @media (max-width: 600px) { 
            display: none;
        };
    }

    &__item {
        list-style: none;
        margin: 1rem;
    }

    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: $color-primary;
        font-size: 3.2rem;
        text-transform: lowercase;
    }

    &__link:hover {
        color: $color-secondary;
    }

    
    // HAMBURGER MENU
    #toggle {
        display: none;
    }

    #toggle:checked + &__hamburger--icon {
        position: fixed;
    }
    
    #toggle:checked + &__hamburger--icon .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
    }
    
    #toggle:checked + &__hamburger--icon .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
    }
    
    #toggle:checked + &__hamburger--icon .meat {
        margin-top: -4px;
        transform: rotate(45deg);
    }
    
    &__hamburger--icon {
        display: none;
        position: absolute;
        top: 7em;
        right: 5%;
        margin-left: -2em;
        margin-top: -45px;
        z-index: 5;
    
        @media screen and (max-width: 600px) { 
            display: block;
        };
    
        div {
            position: relative;
            width: 4em;
            height: 4px;
            // border-radius: 3px;
            background-color: $color-primary;
            margin-top: 8px;
            transition: all 0.2s ease-in-out;
        }
    }
    
    // HAMBURGER POPUP
    .popup {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: $color-grey-dark-1;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        z-index: 1;
    
        &__wrapper {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        &__nav {
            width: 100%;
            font-size: 4.4rem;
            text-transform: uppercase;
            list-style: none;
            text-align: center;
    
            display: flex;
            flex-direction: column;
            
            &__item {
                display: inline-block;
            }
    
            &__link:link,
            &__link:visited {
                color: $color-primary;
                text-decoration: none;
                width: 100%;
                padding: 2.4rem 0;
                display: inline-block;
            }
    
            &__link:hover {
                color: $color-secondary;
            }
        }
    }
    
    
    
    #toggle:checked + &__hamburger--icon + .popup {
        top: 0;
        transform: scale(1);
    }
}
