.projects {
    height: 100vh;
    background-color: $color-grey-light-3;
    color: $color-grey-dark-1;
    font-size: 1.6rem;
    padding: 6.6rem 0; 

    &__header {
        margin-bottom: 6.6rem;
    }
    
    &__grid {
        // height: 80%;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        width: 75%;
        margin: 0 auto;

        &__preview {
            background-color: $color-grey-light-1;
            position: relative;
            float: left;
            height: 30rem;
            width: 33.3333%;
            margin: 0;
            display: block;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .my-sizer-element {
            width: 33.3333%;
        }
    }

    &__nav {
        list-style: none;
        text-transform: uppercase;
        font-size: 2.8rem;
        
        display: flex;
        justify-content: space-evenly;

        &__item {
            cursor: pointer;
        }

        .active {
            font-weight: bold;
            font-size: 4rem;
            color: #ff0e84;
            transition: all .3s ease;
        }
    }
    
}