h3 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

h4 {
    font-size: 3.3rem;
}

.btn {
    background-color: $color-secondary;
    padding: .5rem;
    border: none;
}

.btn--projects {
    text-transform: uppercase;
    font-weight: bold;
    width: 13rem;
    margin-top: 2.6rem;
    cursor: pointer;
}

ion-icon {
    font-size: 32px;
}

.social-icon {
    padding: 2px;
    padding-bottom: 0;
    margin: 0 .6rem;
    

    &--linked {
        background-color: #0058a7;
    }

    &--git {
        background-color: #080808;
    }
}

#form-message {
    font-size: 1.8rem;
    text-align: center;
}

.success {
    color: green;
}

.error {
    color: red;
}